$red: #FD1015;
$blue: rgba(27, 209, 187, 1.0);
$subdued-blue: rgba(27, 209, 187, 0.7);
$yellow: #FFC65A;
$orange: rgba(227, 74, 26, 0.85);
$medium-orange: rgba(231, 101, 60, 0.8);
$light-orange: rgba(231, 101, 60, 0.5);
$green: #1EDD88;
$gray: #747474;
$light-gray: #F4F4F4;
$white: #FFF;
