.banner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url("journal_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;
}

.banner span, .banner h3, .banner i {
    color: $white;
}

.banner h1 {
    padding-top: 14%;
    padding-left: 7%;
    font-size: 48px;
}

.banner h3 {
    padding-top: 2%;
    padding-left: 7%;
    font-size: 32px;
}