#banner-create-journal-btn {
    background-color: rgba(255, 29, 83, 0.8);
    border-radius: 12px;
    padding: 18px 8px;
    margin: 18px;
    width: 16%;
    text-align: center;
    a {
        color: $white;
        text-decoration: none;
        font-size: 20px;
    }
}

.btn-submit, .btn a {
    background-color: $subdued-blue;
    color: $white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
    border: 1px solid $subdued-blue;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.2);
}

.btn-submit, .btn a:hover {
    text-decoration: none;
}

.btn-edit {
    background-color: $subdued-blue;
    color: $white;
    font-size: 14px;
    padding: 8px;
    margin-left: 16px;
    margin: 8px;
    border-radius: 50%;
}

.btn-submit, .btn-edit {
    transition: all .2s;
}

.btn-submit:hover, .btn-edit:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

.btn-submit:active, .btn-edit:active {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}