.btn-submit, .btn a {
    background-color: $subdued-blue;
    color: $white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
    border: 1px solid $subdued-blue;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.2);
}

.btn-submit, .btn a:hover {
    text-decoration: none;
}

.btn-edit {
    background-color: $subdued-blue;
    color: $white;
    font-size: 14px;
    padding: 8px;
    margin-left: 16px;
    margin: 8px;
    border-radius: 50%;
}