.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    margin: 0 auto;
    justify-content: space-around;
}

.card {
    width: 20vw;
    margin: 12px;
    padding: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-wide {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    padding: 8%;
    margin: 3%;
}