.card-container {
    display: flex;
    padding: 16px;
    margin: 0 auto;
    justify-content: space-around;
}

.card {
    width: 20vw;
    margin: 12px;
    padding: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}