.habit-list {
    display: flex;
    align-items: center;
}

.habit-name {
    width: 100px;
    margin-bottom: 0;
    justify-items: center;
}

.habit-status input {
    display: none;
}

.habit-status {
    position: relative;
}

.habit-status:before,
.habit-status:after {
    position: absolute;
    padding: 12px;
    margin: 8px;
    right: -12px;
    bottom: -16px;
}

.habit-status:before{
    content: "";
    display: inline-block;
    
    border: 1.2px solid $gray;
    border-radius: 4px;
}

.habit-status:after {
    content: "";
    display: inline-block;
    padding: 4px;
    margin-top: 7px;
    margin-left: 15px;
    border-left: 1.2px solid $gray;
    border-bottom: 1.2px solid $gray;
    
    transform: rotate(-45deg);
}
