.habit-list {
    display: flex;
    align-items: center;
}

.habit-name {
    width: 100px;
    margin-bottom: 0;
    justify-items: center;
}

.habit-box {
    border: 1.5px solid grey;
    border-radius: 4px;
    padding: 12px;
    margin: 8px;
}