.habit-container {
    background: linear-gradient(241.97deg, rgba(86, 180, 232, 0.72) -5.28%, rgba(245, 0, 118, 0.8) 103.68%);
}

.habit-container h3 {
    font-size: 20px;
    text-align: center;
    padding: 2% 0;
    margin-bottom: 10px;
}

.habit-list-and-create-button {
    padding: 4% 2% 16% 2%;
}

.habit-list {
    padding: 0 2%;
}

.habit-name {
    color: $white;
    font-size: 14px;
}

.habit {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 4px 8px;
    margin: 8px;
}

.habit-name {
    width: 100px;
    margin-bottom: 0;
    margin-right: 15px;
    justify-items: center;
}

.habit-status input {
    // display: none;
}

.habit-status {
    position: relative;
    margin-right: 12px;
}

.habit-status:before,
.habit-status:after {
    position: absolute;
    padding: 12px;
    margin: 8px;
    right: -12px;
    bottom: -16px;
}

.habit-status:before{
    content: "";
    display: inline-block;
    
    border: 1.5px solid $white;
    border-radius: 4px;
}

.habit-status:after {
    content: "";
    display: inline-block;
    padding: 5px;
    margin: 16px;
    border-left: 1.5px solid $white;
    border-bottom: 1.5px solid $white;
    
    transform: rotate(-45deg);
}

.create-new-habit {
    margin: 16px 8px;
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px 8px;
}

.create-new-habit h5 {
    color: $gray-blue;
}

.create-new-habit-name {
    color: $gray;
}

.create-new-habit h5 {
    font-size: 16px;
    margin-top: 8px;
}