#logo a {
    font-family: 'Overlock', cursive;
    font-size: 32px;
    padding-left: 12px;
    color: $blue;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
}

.nav-item a {
    color: $gray;
    vertical-align: bottom;
}

.nav-item a:hover {
    text-decoration: none;
    color: $gray;
}

.navbar-bar {
    background: linear-gradient(90.82deg, $subdued-blue -1.39%, rgba(255, 29, 83, 0.75) 99.26%);
    height: 0.7vh;
    width: 100%;
}