.navbar ul {
    list-style-type: none;
}

.nav-item a {
    color: $gray;
    vertical-align: bottom;
    font-size: larger;
}

.nav-item a:hover {
    text-decoration: none;
    color: $gray;
}

.navbar-bar {
    background: linear-gradient(90.82deg, rgba(21, 225, 188, 0.75) -1.39%, rgba(255, 29, 83, 0.75) 99.26%);
    height: 0.7vh;
    width: 100%;
}